In [13]:
import pandas as pd
from scipy.stats import chi2_contingency

In [14]:
data = {
    'Region': ['East', 'West', 'North', 'South'],
    'Males': [50, 142, 131, 70],
    'Females': [435, 1523, 1356, 750]
}

In [15]:
df = pd.DataFrame(data)

In [16]:
df

  Region  Males  Females
0   East     50      435
1   West    142     1523
2  North    131     1356
3  South     70      750

In [17]:
df.set_index('Region', inplace=True)

In [18]:
chi2_stat, p_value, _, _ = chi2_contingency(df)

In [19]:
print(f"Chi-square statistic: {chi2_stat}")
print(f"P-value: {p_value}")

Chi-square statistic: 1.5959455386610577
P-value: 0.6603094907091882